[submodule "Sem5"]
	path = Sem5
	url = https://github.com/Harith-Y/Cosmos-Vault-IIITDM-Sem5.git
[submodule "Sem 1"]
	path = Sem 1
	url = https://github.com/Harith-Y/Cosmos-Vault-IIITDM-Sem1.git
[submodule "Sem 2"]
	path = Sem 2
	url = https://github.com/Harith-Y/Cosmos-Vault-IIITDM-Sem2.git
[submodule "Sem 3"]
	path = Sem 3
	url = https://github.com/Harith-Y/Cosmos-Vault-IIITDM-Sem3.git
